<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.view">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".EasyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.CanvasGeometryActivity"
            android:label="@string/label_currency"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmptyActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor" />

        <activity
            android:name=".animator.activity.EasyFinishActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor" />
        <activity
            android:name=".activities.ActivitiesMainActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor" />
        <activity
            android:name=".activities.backpressed.BackMainActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor" />

        <activity
            android:name=".hilt.HiltMainActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor" />









        <!--animator-->
        <activity android:name=".animator.AnimationMainActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor"
            />
        <activity android:name=".animator.activity.AnimatorTestActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor"
            />
        <activity android:name=".GlideTestActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor"
            />

        <activity android:name=".lifecycle.simple.LifecycleSimpleActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor"
            />
        <activity android:name=".lifecycle.MainLifecycleActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor"
            />











        <activity
            android:name=".scope.ScopeMainActivity"
            android:label="@string/label_currency"
            android:screenOrientation="sensor" />
    </application>

</manifest>